<div class="col-md-6 offset-md-3">
  <%= form_with model: @food, url: foods_path do |f| %>
    <%= render 'shared/error', resource: @food %>
    <div class="my-2">
      <%= f.label :name, class: "form-label" %>
      <%= f.text_field :name, { class: "form-control", placeholder: "Apple", required: true } %>
    </div>
    <div class="my-2">
      <%= f.label :measurement_unit, class: "form-label" %>
      <%= f.text_field :measurement_unit, { class: "form-control", placeholder: "grams", required: true } %>
    </div>
    <div class="my-2">
      <%= f.label :price, class: "form-label" %>
      <%= f.text_field :price, { class: "form-control", placeholder: "10", required: true } %>
    </div>
    <div class="text-center my-2">
      <%= f.submit "Create food", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>